body{
  background-color: #ed870b;
}
#logo{
  position: relative;
  left: 220px;
  bottom: 100px;
  width: 100px;
  height: 100px;
}
#lunghezza{
  position: relative;
  left: 10px;
  bottom: 100px;

  
}
#algebrico{
  position: relative;
  bottom: 200px;
  left: 10px;;
}
#calcola{
  position: relative;
  bottom: 100px;
  left: 10px;
  border-radius: 100%;
  background-color: #003366;
  color: white;

}
#sopra{
  position: relative;
  bottom: 100px;
}
#cronometro{
  position: relative;
  bottom: 70px;
}
#calcolo{
  position: relative;
  bottom: 80px;
}